/* Align full and alingwidth is the same in this project */
div.wp-block[data-align="full"] .block-list-appender.wp-block {
	max-width: 100% !important;
}

div.wp-block[data-align="full"] .block-editor-rich-text__editable {
	max-width: 100% !important;
}
div.wp-block[data-align="wide"] .block-list-appender.wp-block {
	max-width: auto !important;
}

div.wp-block[data-align="wide"] .block-editor-rich-text__editable {
	max-width: auto !important;
}
