$icomoon-font-family: "iconpack-1-i" !default;
$icomoon-font-path: "fonts" !default;

$icon-heart1: "\f004";
$icon-bookmark1: "\f02e";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-heart-o: "\f08a";
$icon-bookmark-o: "\f097";
$icon-arrow-circle-left: "\f0a8";
$icon-arrow-circle-right: "\f0a9";
$icon-arrow-circle-up: "\f0aa";
$icon-arrow-circle-down: "\f0ab";
$icon-chevron-circle-left: "\f137";
$icon-chevron-circle-right: "\f138";
$icon-chevron-circle-up: "\f139";
$icon-chevron-circle-down: "\f13a";
$icon-youtube-square: "\f166";
$icon-youtube1: "\f167";
$icon-check1: "\f00c";
$icon-close1: "\f00d";
$icon-remove2: "\f00d";
$icon-times1: "\f00d";
$icon-repeat: "\f01e";
$icon-rotate-right: "\f01e";
$icon-refresh: "\f021";
$icon-check: "\f00c1";
$icon-close: "\f00d1";
$icon-remove: "\f00d1";
$icon-times: "\f00d1";
$icon-images: "\e90e";
$icon-zoom-in: "\e987";
$icon-zoom-out: "\e988";
$icon-enlarge: "\e989";
$icon-shrink: "\e98a";
$icon-enlarge2: "\e98b";
$icon-shrink2: "\e98c";
$icon-bookmark: "\e9d2";
$icon-bookmarks: "\e9d3";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-heart: "\e9da";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-circle-up: "\ea41";
$icon-circle-right: "\ea42";
$icon-circle-down: "\ea43";
$icon-circle-left: "\ea44";
$icon-facebook: "\ea90";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";
$icon-youtube2: "\ea9e";
$icon-pinterest: "\ead1";
$icon-pinterest2: "\ead2";
$icon-search2: "\e9051";
$icon-search: "\e9031";
$icon-envelop: "\e9451";
$icon-spinner6: "\e97f";
$icon-spinner9: "\e982";
$icon-spinner11: "\e984";
$icon-fullscreen: "\e91f1";
$icon-star: "\e905";
$icon-cached: "\e906";
$icon-favorite: "\e907";
$icon-favorite_outline: "\e908";
$icon-search1: "\e9041";
$icon-squared-minus: "\e9111";
$icon-squared-plus: "\e9121";
$icon-envelope: "\e9001";

